<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Simple Invoicer</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container flex flex-row">
      <div class="max-w-sm bg-gray-200">
        test
      </div>
    </div>
    <h1 class="text-3xl font-bold underline">
      {{ message }}
    </h1>
  </body>
</html>