<!DOCTYPE html>
<html>
  {{> partials/head}}
  <body>
    <div class="container flex flex-row">
      <div class="max-w-sm bg-gray-200">
        test
      </div>
    </div>
    <h1 class="text-3xl font-bold underline">
      {{ message }}
    </h1>
  </body>
</html>