<!DOCTYPE html>
<html>
  {{> partials/head}}
  <body>
    <script src="https://cdn.tiny.cloud/1/d7azxkvknquchxctaa2irhkdxt6zqco7bxdq7soa1gowdbxm/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <div class="flex flex-row justify-center">
      <div class="flex flex-col max-w-screen-sm w-full h-dvh">
        <div class="container">
          <h1 class="font-bold">Create Invoice</h1>

          <form action="/invoice" method="post" class="flex flex-col">
            <label for="invoice-number">Invoice Number</label>
            <input type="text" class="border border-black mb-2" name="invoice-number" id="invoice-number" value="INV/2024/0001">

            <label for="invoice-date">Invoice Date</label>
            <input type="date" value="{{ todayDate }}" class="border border-black mb-2" name="invoice-date", id="invoice-date">

            <label for="invoice-deadline">Invoice Deadline</label>
            <input type="date" value="{{ tomorrowDate }}" class="border border-black mb-2" name="invoice-deadline", id="invoice-deadline">

            <label for="company-info">Company Info</label>
            <textarea name="company-info" id="company-info" class="mb-2">
              <p>Company Name</p>
              <p>Gedung Garuda 2nd Floor</p>
              <p>Badung, Bali, 80771</p>
              <p>NPWP: 1234567890</p>
            </textarea>

            <label for="customer-info">Customer Info</label>
            <textarea name="customer-info" id="costomer-info" class="mb-2">
              <p>Customer Name</p>
              <p>Jalan Raya Kuta No. 1</p>
              <p>Badung, Bali, 80771</p>
            </textarea>

            <label for="product">Product</label>
            <table class="border border-collapse mb-2 max-w-full">
              <thead class="border border-black bg-black text-white">
                <tr>
                  <td class="border border-black bg-black text-white">Name</td>
                  <td class="border border-black bg-black text-white">Description</td>
                  <td class="border border-black bg-black text-white">Quantity</td>
                  <td class="border border-black bg-black text-white">Price</td>
                  <td class="border border-black bg-black text-white">Action</td>
                </tr>
              </thead>
              <tbody class="border border-black">
                <tr>
                  <td>
                    <input type="text" placeholder="Name" name="item-name">
                  </td>
                  <td>
                    <input type="text" placeholder="Description" name="item-description">
                  </td>
                  <td>
                    <input type="number" placeholder="Quantity" name="item-quantity">
                  </td>
                  <td>
                    <input type="number" placeholder="Price" name="item-price">
                  </td>
                  <td>
                    <button hx-post="/invoice/save-product-item" hx-target="closest tbody" class="button bg-black text-white">Add</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <label for="note">Note</label>
            <textarea name="note" id="note">
              Payment to: 
            </textarea>

            <button type="submit" class="bg-black text-white rounded p-2">Create Invoice</button>
          </form>
        </div>
      </div>
    </div>

  <script>
    tinymce.init({
      selector: 'textarea',
      height: 300
    });
  </script>
  </body>
</html>
